packages:
  yum:
    python3: []
    python3-pip: []
    git: []
    wget: []
    curl: []
    tar: []
    xz: []

commands:
  01_update_pip:
    command: "pip3 install --upgrade pip"
    ignoreErrors: false
    
  02_install_yt_dlp:
    command: "pip3 install yt-dlp"
    ignoreErrors: false
    
  03_create_temp_dir:
    command: "mkdir -p /tmp/savemedia && chmod 777 /tmp/savemedia"
    ignoreErrors: false
